﻿@model WebApplicationScoreboard.Models.PlayerModel
@{
    ViewData["Title"] = "Изменение данных";
}

@{
        int counter = 0;
    }
    @if(ViewBag.scoreboard != null && ViewBag.scoreboard.Count >= 1)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" width="2%">#</th>
                    <th scope="col" width="45%">Псевдоним</th>
                    <th scope="col" width="45%">Счёт</th>
                    <th scope="col" width="2%"></th>
                    <th scope="col" width="2%"></th>
                </tr>
            </thead>
            <tbody>
                <form action="/Home/Edit" method="post">
                    <tr>
                        <th scope="row">+</th>
                        <td><input type="text" class="form-control" placeholder="Псевдоним" aria-label="Псевдоним" asp-for="Nickname"></td>
                        <td><input type="text" class="form-control" placeholder="Счёт" aria-label="Счёт" asp-for="Score"></td>
                        <td colspan="2"><button type="submit" class="btn btn-primary" style="background-color:#389c36;">Добавить</button></td>
                    </tr>
                </form>
                @foreach( var player in ViewBag.scoreboard)
                {
                    counter++;
                    <tr>
                        <form action="/Home/Edit" method="post" style="display:inline-block">
                        <th scope="row">@counter</th>
                        <td><input id="UpdateNick" type="text" class="form-control" value="@player.Nickname" asp-for="Nickname"></td>
                        <td><input type="text" class="form-control" value="@player.Score" asp-for="Score"></td>
                        <td>
                                <input type="hidden" asp-for="Id" value="@player.Id"/>
                                <button type="submit" class="btn btn-primary" style="background-color:#416cd1;" asp->✎</button>
                            
                         </td>
                        </form>
                        <td>
                            <form asp-action="Edit" asp-controller="Home" method="post" style="display:inline-block">
                                <input type="hidden" asp-for="Id" value="@player.Id"/>
                                <input type="hidden" asp-for="Score" value="0"/>
                                <button type="submit" class="btn btn-primary" style="background-color:#b51616;">✖</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
