﻿@{
    ViewData["Title"] = "Таблица лидеров";
}

<div class="container">
    @{
        int counter = 0;
    }
    @if(ViewBag.scoreboard != null && ViewBag.scoreboard.Count >= 1)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Псевдоним</th>
                    <th scope="col">Счёт</th>
                </tr>
            </thead>
            <tbody>
                @foreach( var player in ViewBag.scoreboard)
                {
                    counter++;
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@player.Nickname</td>
                        <td>@player.Score</td>
                    </tr>
                }
            </tbody>
        </table>
    }

